* {
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 500;
  color: #FE8529;
}

@media only screen and (max-width: 1080px) {
  h2, h3 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: #FE8529;
  }
}