.container {
  display: flex;
  justify-content: center;
}

.container .content {
  margin-top: -150px;
  width: 80%;
  height: 100vh;
  border-radius: 8px;
  background-color: #F6F9FD;
  padding: 50px;
}

.container .content h2 {
  margin-bottom: 30px;
}

.container .content .content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}